.logonav{
    margin :10px;
    width: 160px;
    margin-left: 20px;
    z-index: 1;
}
.navbar{
    width: 79.5em;
    height: 60px;
    background-color: #F0B800;
    margin-left: -8px;
    margin-top: -8px;
    position: relative;
    margin :20px;
    width: 250px;
    z-index: 1;
}
.navbar{
    position: relative;
    width: 100%;
    height: 100px;
}